html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1100px;
	min-height: 2909px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 62px;
}

#pu270
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u270
{
	z-index: 94;
	width: 1300px;
	height: 17px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 70px;
	left: 50%;
	margin-left: -50%;
	background: transparent url("../images/shadow.png") repeat-x left top;
}

#u269
{
	z-index: 95;
	width: 1300px;
	height: 70px;
	border-style: none;
	border-color: transparent;
	background-color: #2E4886;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -50%;
}

#u251-4
{
	z-index: 96;
	position: fixed;
	top: 31px;
	left: 50%;
	margin-left: 20px;
}

#u264-4
{
	z-index: 100;
	position: fixed;
	top: 31px;
	left: 50%;
	margin-left: 195px;
}

#u265-4
{
	z-index: 104;
	position: fixed;
	top: 31px;
	left: 50%;
	margin-left: 409px;
}

#u165
{
	z-index: 108;
	width: 1300px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #1F346C url("../images/wallpaper.png") no-repeat center top;
}

#u165_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	position: relative;
	left: -100px;
	padding-top: 28px;
}

#pu277-4
{
	width: 0.01px;
	padding-bottom: 12px;
	left: 671px;
	position: relative;
}

#u277-4
{
	z-index: 122;
	position: relative;
	width: 60px;
	margin-right: -10000px;
	margin-top: 3px;
	left: -1px;
}

#u278-4
{
	z-index: 126;
	position: relative;
	width: 131px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 174px;
}

#u279-4
{
	z-index: 130;
	position: relative;
	width: 192px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 388px;
}

#u251-4_img,#u264-4_img,#u265-4_img,#u277-4_img,#u278-4_img,#u279-4_img
{
	display: block;
	vertical-align: top;
}

#u177
{
	z-index: 109;
	width: 665px;
	left: 515px;
	margin-top: 57px;
	position: relative;
}

#u182-4
{
	z-index: 111;
	width: 520px;
	min-height: 25px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 529px;
	left: 120px;
}

#u253-7
{
	z-index: 115;
	display: block;
	vertical-align: top;
	position: relative;
	width: 379px;
	margin-right: -10000px;
	margin-top: 185px;
	left: 121px;
}

#about
{
	margin-top: 20px;
	position: relative;
}

#ppu76-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 94px;
	position: relative;
}

#pu76-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u76-4
{
	z-index: 15;
	display: block;
	vertical-align: top;
	position: relative;
}

#u74-7
{
	z-index: 2;
	width: 520px;
	min-height: 96px;
	font-size: 18px;
	color: #222222;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	margin-top: 31px;
	position: relative;
}

#u88
{
	z-index: 29;
	width: 141px;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 549px;
}

#u93
{
	z-index: 31;
	width: 127px;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 736px;
}

#u98
{
	z-index: 33;
	width: 96px;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 931px;
}

#u83
{
	z-index: 27;
	width: 626px;
	margin-left: 237px;
	margin-top: 46px;
	position: relative;
}

#team
{
	left: -7px;
	margin-top: 28px;
	position: relative;
}

#u104-4
{
	z-index: 39;
	display: block;
	vertical-align: top;
	margin-left: 20px;
	margin-top: 100px;
	position: relative;
}

#u103-4
{
	z-index: 35;
	width: 520px;
	min-height: 20px;
	font-size: 18px;
	color: #222222;
	text-align: center;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	margin-left: 290px;
	margin-top: 399px;
	position: relative;
}

#pu124-4
{
	width: 0.01px;
	left: -100px;
	margin-top: 150px;
	position: relative;
}

#u124-4
{
	z-index: 43;
	width: 520px;
	min-height: 45px;
	font-size: 48px;
	color: #222222;
	font-family: sansita-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
	left: 120px;
}

#u130
{
	z-index: 47;
	width: 1299px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #222222;
	position: relative;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u130_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1099px;
	position: relative;
	left: -100px;
}

#u131
{
	z-index: 48;
	width: 548px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 631px;
}

#u137-8
{
	z-index: 78;
	display: block;
	vertical-align: top;
	position: relative;
	width: 457px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 119px;
}

#order
{
	margin-left: 42px;
	margin-top: 31px;
	position: relative;
}

#u138-4
{
	z-index: 19;
	display: block;
	vertical-align: top;
	margin-left: 70px;
	margin-top: 100px;
	position: relative;
}

#u139-6
{
	z-index: 9;
	width: 1060px;
	min-height: 24px;
	font-size: 18px;
	text-align: center;
	color: #222222;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 32px;
	position: relative;
}

#u139-2
{
	color: #2E4886;
}

#u258
{
	z-index: 90;
	width: 800px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-left: 150px;
	margin-top: 141px;
	position: relative;
}

#u142-4
{
	z-index: 23;
	display: block;
	vertical-align: top;
	margin-left: 279px;
	margin-top: 150px;
	position: relative;
}

#pu143
{
	width: 0.01px;
	margin-left: 250px;
	margin-top: 67px;
	position: relative;
}

#u143
{
	z-index: 86;
	width: 192px;
	position: relative;
	margin-right: -10000px;
}

#u148
{
	z-index: 88;
	width: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 420px;
}

#u263
{
	z-index: 50;
	width: 825px;
	margin-left: 138px;
	top: -1577px;
	margin-bottom: -226px;
	position: relative;
}

#u262
{
	z-index: 51;
	width: 199px;
	position: relative;
	margin-right: -10000px;
}

#u105
{
	z-index: 58;
	width: 162px;
	margin-left: 18px;
	position: relative;
}

#u120-6
{
	z-index: 52;
	width: 199px;
	min-height: 44px;
	font-size: 18px;
	color: #222222;
	text-align: center;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	margin-top: 20px;
	position: relative;
}

#u261
{
	z-index: 60;
	width: 199px;
	position: relative;
	margin-right: -10000px;
	left: 313px;
}

#u110
{
	z-index: 67;
	width: 162px;
	margin-left: 19px;
	position: relative;
}

#u122-6
{
	z-index: 61;
	width: 199px;
	min-height: 44px;
	font-size: 18px;
	color: #222222;
	text-align: center;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	margin-top: 20px;
	position: relative;
}

#u260
{
	z-index: 69;
	width: 199px;
	position: relative;
	margin-right: -10000px;
	left: 626px;
}

#u123-6
{
	z-index: 70;
	width: 199px;
	min-height: 44px;
	font-size: 18px;
	color: #222222;
	text-align: center;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 182px;
}

#u120,#u122,#u123
{
	font-family: droid-sans, sans-serif;
	font-weight: 700;
}

#u125
{
	z-index: 76;
	width: 162px;
	position: relative;
	margin-right: -10000px;
	left: 21px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

